<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My nice Chat</title>
</head>
<body>
    <div id="chat">
        <div class="chat-list"></div>

        <input type="text" id="chat-input">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/libs/jquery/dist/jquery.js"></script>

    <script src="js/chat.js"></script>
    <script src="js/chatInput.js"></script>
    <script src="js/socketIo.js"></script>
    <script src="js/chatMessage.js"></script>
    <script src="js/boot.js"></script>
</body>
</html>