<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My nice Chat</title>
</head>
<body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/boot.js"></script>
</body>
</html>